Archivo Generador de Nombres Aletorios

In [399]:
import csv
NombresEnBruto = []

with open('nombres.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        
        NombresEnBruto.append(row)

In [400]:
Nombre = []
for nombre in NombresEnBruto:
        Nombre.append((nombre[0].split(" ", 1)))

nombre = [item[0] for item in Nombre]

apellido = [item[1] for item in Nombre]

In [401]:
import datetime,random
FechaNacimiento = []
FechaNacimientoRFC = []

for y in range(100):
    y = datetime.datetime((random.randint(1970, 2000)), (random.randint(1, 12)), (random.randint(1, 28)))
    print(y.strftime("%d/%m/%Y"))
    FechaNacimiento.append(y.strftime("%d/%m/%Y"))
    FechaNacimientoRFC.append(y.strftime("%d%m%Y"))

20/05/1976
15/04/1986
24/12/1995
23/01/2000
05/04/1995
13/06/1991
15/01/1995
22/11/1996
10/10/1978
04/08/2000
21/07/1987
18/03/1981
02/04/1982
08/01/1976
24/07/1991
24/07/1981
17/11/1989
16/07/1977
10/12/1977
15/07/1970
15/08/1979
25/09/1976
25/05/1978
10/08/1988
17/12/1984
17/07/1993
10/07/1994
26/09/1971
13/10/1999
27/03/1997
04/02/1971
10/06/1987
03/07/1993
22/12/1986
20/10/1980
26/03/1974
01/04/1974
08/04/1996
26/09/1994
01/10/1982
15/09/1996
10/08/1993
12/04/1974
01/05/1992
01/06/1970
08/01/1982
07/05/1989
07/04/1982
27/08/1980
16/10/1975
17/09/1992
24/03/1971
05/03/1973
17/11/1974
20/10/1975
19/02/1996
23/05/1994
02/09/1982
17/05/1973
24/12/1977
01/04/1975
13/12/1979
14/03/1990
26/12/1990
02/01/1995
12/01/1993
16/06/1983
09/06/1995
02/06/1993
25/02/1972
02/07/1992
15/10/1985
10/08/1976
28/01/1982
26/01/1972
14/04/1991
24/11/1972
12/01/1981
13/04/1973
15/03/1970
25/09/1976
20/01/1981
14/12/1997
10/07/1993
23/01/1987
10/11/1980
07/09/1999
21/03/1988
22/06/1976
24/12/1975
07/03/1995
17/12/1970
05/10/1995
16/03/1981
09/09/1977
22/10/1993
11/08/1985
03/02/1973
26/12/1989
16/07/1985

PseudoRFC
Vamos a Generar una especie de RFC para evitarnos todo el estricto rollo

* Las primeras dos letras (VE) son el apellido paterno más la primera vocal interna del apellido paterno.
* El tercer dígito (C) es la inicial del apellido materno. De no existir un apellido materno se utiliza una (X).
* El cuarto dígito (J) es la inicial del primer nombre.
* Los primeros dos dígitos son el año de nacimiento (88).
* Los segundos dígitos son el mes de nacimiento (03 o marzo).
* Los terceros dígitos son el día de nacimiento (26).
* Por lo tanto la persona nació el veintiséis de marzo de 1988.
* Los últimos dígitos (XXX) se le conoce como homoclave, esta la designa el SAT, dependiendo de algunos factores que realiza el SAT por medio de sistemas numéricos o alfanuméricos.

In [402]:
RFCs = []

for x in range(99):
    rfc = ""
    #primer letra nombre
    rfc = (nombre[x][0])
    #Obtenemos apellido Materno/Paterno
    Apellido = (apellido[x].split(" " ,2))
    #Imprimimos Las dos letras upper del Apellido Paterno
    rfc = rfc + (Apellido[0][0:2]).upper()
    #Checamos si tiene apellido Materno , si no usamos la letra 3 del paterno
    try:
       rfc = rfc +  (Apellido[1][0]).upper()
    except IndexError:
        rfc = rfc + (Apellido[0][3]).upper()

    #fecha de nacimiento en numeros seguidos
    rfc = rfc + (FechaNacimientoRFC[x])

    rfc = rfc + str(random.randint(100, 999))

    RFCs.append(rfc)

Generamos ahora direcciones

In [403]:
import csv
DireccionesEnBruto = []

with open('direcciones.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=' ')
    line_count = 0
    for row in csv_reader:
        
        DireccionesEnBruto.append(row)
        line_count += 1
    
Direcciones = []
for direccion in DireccionesEnBruto:
        Direcciones.append(direccion)

Ahora generamos Numeros de INE

In [404]:
INE = []
for x in range(100):
    INE.append(str(random.randint(100000, 999999)))

Telefono Generador

In [405]:
TELEFONO = []
for x in range(100):
    TELEFONO.append( "55" + str(random.randint(100000, 999999)))

Generador de Correos

In [406]:
Correos = []
Listas = ["@gmail.com","@hotmail.com","@yahoo.com","@outlook.com"]
for x in range(100):
    Correos.append( RFCs[random.randint(0,98)] +
     str(random.randint(0, 10)) +
      str(Listas[random.randint(0,3)]))

In [407]:
Idioma = []
Listas = ["Español","Ingles","Ingles/Español"]
for x in range(100):
    Idioma.append(
      str(Listas[random.randint(0,2)])
      )

Creamos la tabla de Clientes

In [408]:
import pandas as pd
df = pd.DataFrame(list(zip(nombre, apellido,FechaNacimiento,RFCs,Direcciones[0],INE,TELEFONO,Correos,Idioma)),
               columns =['Nombre', 'Apellido', 'FechaNacimiento','RFC','Direccion','INE','Telefono','Email','Idioma'])

In [409]:
df

,Nombre,Apellido,FechaNacimiento,RFC,Direccion,INE,Telefono,Email,Idioma
0,Valentín,Lillo Amo,20/05/1976,VLIA20051976427,CountryOlive,318803,55347694,HGUG010619702987@hotmail.com,Ingles
1,Regina,Téllez,15/04/1986,RTÉL15041986509,"Street,VenezuelaHeather",249248,55548080,AVAA170519737603@yahoo.com,Ingles
2,Emigdio,Rogelio Cuenca Roca,24/12/1995,EROC24121995984,"Lane,VenezuelaCedar",239627,55300870,MESM070919992582@yahoo.com,Ingles
3,Isidro,Montesinos,23/01/2000,IMOT23012000960,"Avenue,VenezuelaJefferson",248002,55301164,EROC280119824453@outlook.com,Ingles
4,Amador,Aragón-Soria,05/04/1995,AARG05041995110,"Avenue,VenezuelaHeather",915521,55972173,JMÚG070519899846@gmail.com,Español
...,...,...,...,...,...,...,...,...,...
94,Gustavo,Gerardo Luque Santiago,09/09/1977,GGEL09091977552,"Street,VenezuelaMain",430884,55106400,BLUO151019855230@outlook.com,Español
95,Lourdes,Ponce Aragón,22/10/1993,LPOA22101993561,"Street,VenezuelaMain",729326,55910087,LAGC150319706914@hotmail.com,Español
96,Jerónimo,Domínguez-Feliu,11/08/1985,JDOÍ11081985225,"Street,VenezuelaFranklin",587073,55397505,MFEB250919768501@hotmail.com,Ingles
97,Guadalupe,Blanco,03/02/1973,GBLN03021973922,"Court,VenezuelaSummit",264944,55202420,BSAG261219892869@hotmail.com,Español
98,Bonifacio,Saturnino Garmendia Lerma,26/12/1989,BSAG26121989286,"Avenue,VenezuelaHanover",832640,55696078,EDEB101119809781@yahoo.com,Ingles

Creamos la tabla Sucursales

In [410]:
import csv
EstadosEnBruto = []

with open('estados.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        
        EstadosEnBruto.append(row)
        line_count += 1
    
Estados = []
for x in range(len(EstadosEnBruto)):
        Estados.append(EstadosEnBruto[x][1])
tipoC = ["av","calle"]

Sucursales = []
for x in range(5):
    Sucursales.append(

        str(tipoC[random.randint(0,1)]) +  " " + 
        str(random.randint(4,120)) + " " +
        str(Estados[random.randint(0,30)]) + " CP " + str(random.randint(1000,4000))
    )
    
Sucursales

['av 59 Guerrero CP 2552',
 'av 57 Aguascalientes CP 3709',
 'calle 74 Morelos CP 1450',
 'calle 61 Tabasco CP 2388',
 'calle 48 Zacatecas CP 1221']

NombreOficina

In [411]:
DiccionarioNombresOficina = ["alpha" , "betha" , "gama" , "bravo" , "pegaso"]
SKU = []
Tamanio = []

for x in range (5):
    SKU.append(

        "pm" + 
        str(random.randint(4,50)) + 
        DiccionarioNombresOficina[x][1:3])

    Tamanio.append(random.randint(80,300))

    
print( Tamanio, SKU)

[157, 122, 149, 229, 265] ['pm42lp', 'pm25et', 'pm7am', 'pm14ra', 'pm36eg']

In [412]:

df3 = pd.DataFrame(list(zip(DiccionarioNombresOficina, Sucursales,SKU,Tamanio)),
               columns =['Nombre_Oficina', 'Direccion', 'SKU','Tamanio'])

In [413]:
df3

  Nombre_Oficina                     Direccion     SKU  Tamanio
0          alpha        av 59 Guerrero CP 2552  pm42lp      157
1          betha  av 57 Aguascalientes CP 3709  pm25et      122
2           gama      calle 74 Morelos CP 1450   pm7am      149
3          bravo      calle 61 Tabasco CP 2388  pm14ra      229
4         pegaso    calle 48 Zacatecas CP 1221  pm36eg      265

Generador Nombres Empleados

In [414]:
import csv
NombresEmpleadoEnBruto = []

with open('nombresEmpleado.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        
        NombresEmpleadoEnBruto.append(row)

In [415]:
NombreEmpleado = []
for nom in NombresEmpleadoEnBruto:
        NombreEmpleado.append((nom[0].split(" ", 1)))

nombreEmpleado = [item[0] for item in NombreEmpleado]

apellidoEmpleado = [item[1] for item in NombreEmpleado]

In [416]:
import datetime,random
FechaNacimientoEmpleado = []
FechaNacimientoRFCEmpleado= []

for y in range(40):
    y = datetime.datetime((random.randint(1970, 2000)), (random.randint(1, 12)), (random.randint(1, 28)))
    print(y.strftime("%d/%m/%Y"))
    FechaNacimientoEmpleado.append(y.strftime("%d/%m/%Y"))
    FechaNacimientoRFCEmpleado.append(y.strftime("%d%m%Y"))

05/02/1999
07/01/1995
24/12/1994
14/07/1976
26/12/1974
11/09/1990
21/09/1985
18/02/1992
20/08/1977
17/05/1975
05/02/1992
02/04/1978
20/02/1976
24/12/1987
25/10/1990
06/07/1990
22/07/1983
23/02/2000
15/12/1992
11/08/1977
06/10/1973
06/06/1982
11/02/1997
10/01/1971
14/10/1988
13/09/1978
28/09/1986
26/11/1992
25/06/1983
07/04/1985
16/01/1992
15/08/1973
27/10/1978
28/12/1998
06/03/1971
08/12/1983
18/07/1981
12/11/1989
02/07/2000
15/08/1972

In [417]:
RFCsEmpleados = []

for x in range(40):
    rfc = ""
    #primer letra nombre
    rfc = (nombreEmpleado[x][0])
    #Obtenemos apellido Materno/Paterno
    Apellido = (apellidoEmpleado[x].split(" " ,2))
    #Imprimimos Las dos letras upper del Apellido Paterno
    rfc = rfc + (Apellido[0][0:2]).upper()
    #Checamos si tiene apellido Materno , si no usamos la letra 3 del paterno
    try:
       rfc = rfc +  (Apellido[1][0]).upper()
    except IndexError:
        rfc = rfc + (Apellido[0][3]).upper()

    #fecha de nacimiento en numeros seguidos
    rfc = rfc + (FechaNacimientoRFCEmpleado[x])

    rfc = rfc + str(random.randint(100, 999))

    RFCsEmpleados.append(rfc)

In [418]:
TELEFONOEmpleados = []
for x in range(40):
    TELEFONOEmpleados.append( "56" + str(random.randint(100000, 999999)))

In [419]:
CorreosEMPLEADOS = []
Listas = ["@gmail.com","@hotmail.com","@yahoo.com","@outlook.com"]
for x in range(40):
    CorreosEMPLEADOS.append( RFCsEmpleados[random.randint(0,39)] +
     str(random.randint(0, 10)) +
      str(Listas[random.randint(0,3)]))

In [420]:
IdiomaEMPLEADOS = []
Listas = ["Español","Ingles","Ingles/Español"]
for x in range(40):
    IdiomaEMPLEADOS.append(
      str(Listas[random.randint(0,2)])
      )

print(
  len(FechaNacimientoEmpleado) , 
  len(nombreEmpleado),
  len(apellidoEmpleado),
  len(FechaNacimientoEmpleado),
  len(RFCsEmpleados),
  len(TELEFONOEmpleados),
  len(CorreosEMPLEADOS),
  len(IdiomaEMPLEADOS)
  
)

40 40 40 40 40 40 40 40

In [421]:
import pandas as pd
df2 = pd.DataFrame(list(zip(nombreEmpleado, apellidoEmpleado,FechaNacimientoEmpleado,RFCsEmpleados,TELEFONOEmpleados,CorreosEMPLEADOS,IdiomaEMPLEADOS)),
               columns =['Nombre', 'Apellido', 'FechaNacimiento','RFC','Telefono','Email','Idioma'])

In [422]:
df2

,Nombre,Apellido,FechaNacimiento,RFC,Telefono,Email,Idioma
0,Maria,Alice Ribeiro,05/02/1999,MALR05021999748,56935385,MVIN151219926327@gmail.com,Español
1,Anthony,Alves,07/01/1995,AALE07011995967,56138680,PNOU180719817023@outlook.com,Español
2,Sra.,Bianca Porto,24/12/1994,SBIP24121994582,56335127,EPEE060319717112@hotmail.com,Español
3,Guilherme,Barros,14/07/1976,GBAR14071976159,56891987,IFRI280919861448@gmail.com,Español
4,Alana,Carvalho,26/12/1974,ACAV26121974603,56927661,BSAE2002197639710@outlook.com,Español
5,Beatriz,Nunes,11/09/1990,BNUE11091990138,56260006,JVIS150819737172@hotmail.com,Español
6,Miguel,Barbosa,21/09/1985,MBAB21091985419,56154553,JVIS150819737176@hotmail.com,Ingles/Español
7,Sabrina,Costa,18/02/1992,SCOT18021992857,56439615,PNOU180719817029@hotmail.com,Ingles/Español
8,Esther,Fogaça,20/08/1977,EFOA20081977566,56673661,MVIN151219926323@outlook.com,Ingles
9,Isabelly,Aragão,17/05/1975,IARG17051975364,56543443,HCAD150819729205@yahoo.com,Ingles
10,Sophia,Pires,05/02/1992,SPIE05021992587,56913150,MVID110819772895@yahoo.com,Ingles/Español
11,Dr.,Cauê Vieira,02/04/1978,DCAV02041978200,56353426,IARG1705197536410@outlook.com,Ingles
12,Bernardo,Sales,20/02/1976,BSAE20021976397,56170041,ACAV261219746035@yahoo.com,Ingles
13,João,Lucas Lopes,24/12/1987,JLUL24121987422,56437231,ADAM110219974103@yahoo.com,Ingles/Español
14,Maysa,Dias,25/10/1990,MDIS25101990965,56785647,JLUL241219874221@gmail.com,Ingles
15,Cauê,Farias,06/07/1990,CFAI06071990410,56272361,EFOA200819775663@outlook.com,Ingles/Español
16,Olivia,Teixeira,22/07/1983,OTEX22071983108,56724825,IARG170519753645@outlook.com,Ingles
17,Igor,Melo,23/02/2000,IMEO23022000225,56918423,AVIN261119923297@outlook.com,Español
18,Melissa,Viana,15/12/1992,MVIN15121992632,56863577,HCAD150819729204@hotmail.com,Español
19,Maria,Vitória da Cunha,11/08/1977,MVID11081977289,56929315,MBAB210919854195@yahoo.com,Español
20,Sr.,Renan Farias,06/10/1973,SREF06101973776,56991882,ASIV271019787295@hotmail.com,Ingles/Español
21,Davi,Gonçalves,06/06/1982,DGOÇ06061982447,56948461,AVIN261119923296@outlook.com,Ingles/Español
22,Arthur,da Mota,11/02/1997,ADAM11021997410,56555856,IFRI280919861441@outlook.com,Ingles/Español
23,Milena,Costela,10/01/1971,MCOT10011971965,56645240,GBAR140719761598@hotmail.com,Ingles
24,Laura,Azevedo,14/10/1988,LAZV14101988724,56122266,ECAV081219835889@gmail.com,Español
25,Diego,Silveira,13/09/1978,DSIV13091978758,56377252,LAZV141019887249@yahoo.com,Español
26,Isis,Freitas,28/09/1986,IFRI28091986144,56185116,AALE070119959673@yahoo.com,Ingles/Español
27,André,Viana,26/11/1992,AVIN26111992329,56861431,RPEE160119929515@hotmail.com,Español
28,Laís,da Mota,25/06/1983,LDAM25061983921,56491394,JLUL241219874227@gmail.com,Ingles
29,Gustavo,da Paz,07/04/1985,GDAP07041985677,56670699,ADAM110219974108@yahoo.com,Ingles/Español
30,Rebeca,Pereira,16/01/1992,RPEE16011992951,56346210,ECAV081219835888@yahoo.com,Ingles
31,João,Vitor Sales,15/08/1973,JVIS15081973717,56225768,ASIV271019787292@gmail.com,Ingles/Español
32,Alexia,Silva,27/10/1978,ASIV27101978729,56238218,AALE070119959671@gmail.com,Ingles/Español
33,Leonardo,Souza,28/12/1998,LSOZ28121998386,56264074,SCOT180219928578@yahoo.com,Español
34,Enrico,Pereira,06/03/1971,EPEE06031971711,56222326,MCOT100119719654@outlook.com,Ingles/Español
35,Emanuelly,Carvalho,08/12/1983,ECAV08121983588,56431946,PNOU180719817024@outlook.com,Español
36,Pietro,Nogueira,18/07/1981,PNOU18071981702,56870763,SPIE050219925873@outlook.com,Español
37,Levi,Lima,12/11/1989,LLIA12111989807,56276484,RPEE160119929515@gmail.com,Ingles/Español
38,Ana,Laura Santos,02/07/2000,ALAS02072000974,56986480,MALR050219997483@yahoo.com,Ingles
39,Heloísa,Cardoso,15/08/1972,HCAD15081972920,56405694,EFOA200819775665@gmail.com,Español

Generador de Vehiculos

In [423]:
Vehiculos = []

with open('vehiculos.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        
        Vehiculos.append(row)

#["'2017", " Chevrolet Spark': '$ 169", '000\\nMensualidad $ 3', "288'", '']

In [424]:
NombreVehiculo = []
for x in range(len(Vehiculos)-18):


    y = Vehiculos[x][1].split(":" , 1)[0].replace('"', '')
    y = y.translate(str.maketrans({"'":None}))
    NombreVehiculo.append(y)
NombreVehiculo

[' Chevrolet Spark',
 ' Chevrolet Spark',
 ' Chevrolet Aveo',
 ' Ford Figo',
 ' Chevrolet Aveo',
 ' Dodge Attitude',
 ' Chevrolet Beat',
 ' Volkswagen Gol',
 ' Nissan March',
 ' Volkswagen Gol',
 ' Ford Figo',
 ' Nissan Versa',
 ' Chevrolet Aveo',
 ' Renault Kwid',
 ' Chevrolet Beat',
 ' Chevrolet Beat',
 ' Volkswagen Vento',
 ' Volkswagen Vento',
 ' Chevrolet Sonic',
 ' Fiat Uno',
 ' Chevrolet Aveo',
 ' Chevrolet Aveo',
 ' Nissan Versa',
 ' Nissan Versa',
 ' Volkswagen Polo',
 ' Nissan Versa',
 ' Nissan Sentra',
 ' Renault Stepway',
 ' Ford Fiesta',
 ' Chevrolet Spark']

In [425]:
AnioAuto = []
for x in range(len(Vehiculos)-18):
    y = Vehiculos[x][0].split(":" , 1)[0].replace('"', '')
    y = y.translate(str.maketrans({"'":None}))
    AnioAuto.append(y)
AnioAuto

['2017',
 ' 2016',
 ' 2016',
 ' 2016',
 ' 2017',
 ' 2019',
 ' 2019',
 ' 2017',
 ' 2016',
 ' 2018',
 ' 2018',
 ' 2018',
 ' 2018',
 ' 2020',
 ' 2018',
 ' 2020',
 ' 2018',
 ' 2015',
 ' 2017',
 ' 2019',
 ' 2020',
 ' 2019',
 ' 2017',
 ' 2019',
 ' 2017',
 ' 2020',
 ' 2017',
 ' 2018',
 ' 2017',
 ' 2018']

In [426]:
Renta = []
for x in range(len(Vehiculos)-18):
    y = (Vehiculos[x][3].split(":" , 1)[0].replace('"', ''))
    y = y.translate(str.maketrans({"'":None}))
    Renta.append(y)
Renta

['288',
 '918',
 '052',
 '286',
 '288',
 '331',
 '368',
 '871',
 '420',
 '759',
 '463',
 '498',
 '502',
 '638',
 '648',
 '878',
 '677',
 '704',
 '852',
 '741',
 '765',
 '871',
 '794',
 '794',
 '794',
 '867',
 '871',
 '871',
 '871',
 '871']

In [427]:
Color = []
Combustible = []
KM = []
Colores = ["Rojo","Blanco","Negro","Gris","Azul","Plateado","Verde","Amarillo"]
Combustibles = ["Gasolina","Diesel"]
for x in range(len(Vehiculos)-18):
    Color.append((Colores[random.randint(0,7)]))
    Combustible.append((Combustibles[random.randint(0,1)]))
    KM.append((random.randint(10000,100000)))

In [433]:
import string

PLACAS = []
number_of_strings = len(Vehiculos)-18
length_of_string = 3
for x in range(number_of_strings):
  y = str(random.randint(100,999)) + "-" +''.join(random.choice(string.ascii_letters + string.digits) for _ in range(length_of_string))
  y = y.upper()
  PLACAS.append(y)

In [434]:

df4 = pd.DataFrame(list(zip(NombreVehiculo, AnioAuto,Renta,Color,KM,Combustible,PLACAS)),
               columns =['Auto', 'Modelo', 'Renta','Color','Kilometraje','Combustible','Placa'])

In [435]:
df4

                 Auto Modelo Renta     Color  Kilometraje Combustible    Placa
0     Chevrolet Spark   2017   288    Blanco        30500    Gasolina  229-PKL
1     Chevrolet Spark   2016   918      Rojo        28464    Gasolina  739-UH4
2      Chevrolet Aveo   2016   052      Gris        78158      Diesel  443-GXS
3           Ford Figo   2016   286      Azul        41168    Gasolina  697-JVS
4      Chevrolet Aveo   2017   288      Gris        46738      Diesel  509-VEX
5      Dodge Attitude   2019   331     Negro        53645      Diesel  630-CXL
6      Chevrolet Beat   2019   368     Negro        23559      Diesel  281-2KS
7      Volkswagen Gol   2017   871  Plateado        72429      Diesel  617-G1S
8        Nissan March   2016   420     Negro        40673    Gasolina  970-LEY
9      Volkswagen Gol   2018   759     Verde        67371      Diesel  906-QI3
10          Ford Figo   2018   463      Azul        88526      Diesel  642-ZVT
11       Nissan Versa   2018   498      Azul        69325      Diesel  431-QXB
12     Chevrolet Aveo   2018   502      Azul        41608      Diesel  733-KHF
13       Renault Kwid   2020   638    Blanco        70714      Diesel  775-WW1
14     Chevrolet Beat   2018   648    Blanco        77283      Diesel  521-Y7D
15     Chevrolet Beat   2020   878      Azul        76748      Diesel  415-VYG
16   Volkswagen Vento   2018   677  Plateado        27327      Diesel  933-73P
17   Volkswagen Vento   2015   704      Gris        39139    Gasolina  342-UIQ
18    Chevrolet Sonic   2017   852  Amarillo        16027      Diesel  238-QKH
19           Fiat Uno   2019   741     Verde        59211    Gasolina  643-NZJ
20     Chevrolet Aveo   2020   765      Gris        11500    Gasolina  511-5IA
21     Chevrolet Aveo   2019   871     Negro        22446    Gasolina  969-71A
22       Nissan Versa   2017   794     Negro        58879    Gasolina  271-OFJ
23       Nissan Versa   2019   794     Negro        18506      Diesel  972-LC2
24    Volkswagen Polo   2017   794     Verde        66559    Gasolina  699-GQU
25       Nissan Versa   2020   867    Blanco        97371    Gasolina  966-HZM
26      Nissan Sentra   2017   871    Blanco        88844    Gasolina  878-YKH
27    Renault Stepway   2018   871      Rojo        35532    Gasolina  451-NGT
28        Ford Fiesta   2017   871     Verde        51939      Diesel  754-8EX
29    Chevrolet Spark   2018   871  Amarillo        18498    Gasolina  306-GWH

Creamos la seccion de Exportar los dataframes a CSV

In [436]:
from pathlib import Path  
#Clientes
filepath = Path('CSV/clientes.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)  
#Personal
filepath = Path('CSV/empleados.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df2.to_csv(filepath)  
#Sucursal
filepath = Path('CSV/sucursal.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df3.to_csv(filepath)  
#Autos
filepath = Path('CSV/autos.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df4.to_csv(filepath)